/*-------------------------------------------------------------------
    파일정의 : _managerLayout.scss # 관리자 레이아웃 스타일
-------------------------------------------------------------------*/

/*=== 관리자 ===*/

// header - nav
.manager {
    // container
    &-container {
        min-width: 130rem;
        background: #f5f5f5;

        .inner-container {
            margin-bottom: 0;
        }
    }
    // header
    &-header {
        .header-top-wrap {
            width: 100%;
            text-align: center;
            background: #212121;
        }
        .header-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 120rem;
            margin: auto;
            height: 3rem;

            .logo {
                width: 18rem;

                a {
                    display: block;
                }

                img {
                    display: block;
                    width: 100%;
                }
            }

            .auth-group {
                .auth-info {
                    font-size: 1.4rem;
                    color: #fff;
                    display: flex;
                    li {
                        padding-left: 2.5rem;
                    }
                }
            }
        }
        .row {
            width: 100%;
            background: #e8e8e8;
            color: #212121;
            font-size: 1.6rem;
            .menu-list {
                display: flex;
                justify-content: center;
                li {
                    text-align: center;

                    a {
                        display: block;
                        width: 18rem;
                        padding: 1.3rem;
                    }

                    &.active {
                        color: #fff;
                        background-color: #5551f7;
                    }
                }
            }
        }
    }
    // content-section
    &-content-section {
        $sidebarWidth: 24rem;

        display: flex;
        width: 120rem;
        margin: 3rem auto;
        min-height: 70rem;
        background: #fff;
        // sidebar
        .sidebar {
            flex: none;
            border-right: 1px solid #c9c9c9;
            // border-radius: 2rem;
            width: $sidebarWidth;
            /* min-width: 25rem; */
            padding: 2rem;
            .lnb {
                width: 100%;
                li {
                    color: #686868;
                    width: 100%;
                    // height: 3em;
                    border-bottom: 1px solid #eee;
                }
                .active {
                    background-color: #eaeaff;
                    color: #5551f7;
                    font-weight: 600;
                }
                a.link {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1.5rem 0 1.5rem 1rem;
                    > span {
                        display: inline-block;
                    }
                    .ar {
                        padding-right: 1rem;
                    }
                }
                .lnb-title {
                    padding-bottom: 1.3rem;
                    border-bottom: none;
                    font-size: 2.1rem;
                    font-weight: 600;
                    color: #000;
                }
            }
        }

        .content-area {
            flex: 1;
            width: 100%;
        }
    }
    // content-body
    &-content-body {
        // width: 95rem;
        // padding: 2.5rem;
        .content-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #c9c9c9;
            height: 6.5rem;
            padding: 1rem 2rem;
        }
        .sub {
            &-title {
                padding-left: 0.8rem;
                
                h2 {
                    padding: 0.4rem 0 0 1rem;
                    position: relative;
                    font-size: 1.8rem;
                    line-height: 1;
               
                    &::before {
                        display: block;
                        content: "";
                        position: absolute;
                        width: 0.5rem;
                        height: 1.8rem;
                        top: 50%;
                        left: -0.5rem;
                        transform: translateY(-50%);
                        background: #5551f7;
                    }
                }
            }
            &-detail {
                font-size: 1.4rem;
                color: #5551f7;
            }
        }

        .content-detail {
            padding: 2rem;

            .btn-wrap {
                &-md {
                    padding-bottom: 0.8rem;
                    display: flex;
                    justify-content: flex-end;
                    border-bottom: 0.1rem solid #ddd;
                    // margin-bottom: 1.5rem;
                }
            }
            
            .input-area {
                font-size: 1.4rem;
                padding: 2rem;
            }
        
            > .table-area {
                padding-top: 0;
            }
        }
    }
}

// content-section
// footer
