/*-------------------------------------------------------------------
    파일정의 : _newsroom.scss # 뉴스룸 관련
-------------------------------------------------------------------*/
.sub-content.newsroom {
    .tit-area {
        // justify-content: space-between;
        margin-bottom: 0;
    }
    .list-area {
        li {
            @include flex-item($align: stretch, $justify: flex-start);
            border-bottom: 2px solid $defaultGrayBorderColor;
            padding: 2rem 0;
            cursor: pointer;

            .img-box {
                flex: none;
                width: 31rem;
                height: 19.5rem;
                background-color: #f8f8f8;
                margin-right: 3rem;

				img {
					width: 100%;
				}

                img.no-data {
                    min-width: auto;
                    width: 20rem;
                }
            }

            .explain {
                @include flex-item($direction: column, $align: flex-start, $justify: flex-start);
                @include font-define($fontSize: 1.5rem, $textAlign: left);
                line-height: 2.5rem;

                div + div {
                    margin-top: 1rem;
                }

                .tit {
                    @include font-define($fontSize: 1.8rem, $textAlign: left, $fontWeight: 600);
                }

                .label {
                    font-size: 1.4rem;
                    padding: 0.5rem 1.5rem;
                }

                .txt {
                    word-break: break-all;
                }

                .date {
                    margin-top: auto;
                    color: $txtGrayColor;
                }
            }

            &:hover,
            &:focus {
                .tit {
                    @include defaultTxtHoverEffect($fontWeight: 700);
                }

                .img {
                    @include defaultImgHoverEffect;
                }
            }
        }
    }
}

/*=== tablet ===*/
@mixin newsroom-tablet() {
    .sub-content.newsroom {
        .list-area {
            li {
                .img-box {
                }
            }
        }
    }
}

/*=== mobile ===*/
@mixin newsroom-mobile() {
    .sub-content.newsroom {
        .tit-area {
            flex-direction: column;
            align-items: flex-start;

            .tit {
                margin: 0 0 0.5rem;
            }

            .search-box.sub {
                width: 100%;
            }
        }

        .list-area {
            li {
                flex-direction: column;

                .img-box {
                    width: 100%;
                    height: 22rem;
                }

                .explain {
                    margin: 1.5rem 0 0;
                }
            }
        }
    }
}
