<?xml version="1.0" encoding="UTF-8"?>
<included>

	 <property name="LOG_HOME" value="/RemarkableAS/logs/kccam" />

      <!-- SQL 로그 -->
	  <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/SQL.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/SQL_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1000MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>100</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
            <!-- <pattern>#%X{SQLResult}#%6X{SQLElapseTime}#%X{SQLStartTime}#%thread#%-10X{UserID} #%15X{ClientIP}#%X{SQLClassName}#%X{SQLName}%n%X{SQLQuery}%n%X{SQLParam}%n%X{SQLReturn}%n</pattern> -->
            <pattern>#%X{SQLResult}#%6X{SQLElapseTime}#%X{SQLStartTime}#%20X{ReqeudtID}#%15X{UserOID}#%15X{UserID}#%15X{ClientIP}#%X{SQLClassName}#%X{SQLName}%n%X{SQLQuery}%n%X{SQLParam}%n%X{SQLReturn}%n</pattern>
        </encoder>
    </appender>


      <!-- Service API 로그 -->
	  <appender name="ServiceAPI" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/ServiceAPI.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/ServiceAPI_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>100</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>#%X{APIResult}#%6X{APIElapseTime}#%X{APIStartTime}#%20X{ReqeudtID}#%15X{UserOID}#%15X{UserID}#%15X{ClientIP}#%X{APIClassName}#%X{APIName}%n%X{APIParam}%n%X{APIReturn}%n</pattern>
        </encoder>
    </appender>


      <!-- BusinessAPI 로그 -->
	  <appender name="BusinessAPI" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/BusinessAPI.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/BusinessAPI_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>100</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>#%X{APIResult}#%6X{APIElapseTime}#%X{APIStartTime}#%20X{ReqeudtID}#%15X{UserOID}#%15X{UserID}#%15X{ClientIP}#%X{APIClassName}#%X{APIName}%n%X{APIParam}%n%X{APIReturn}%n</pattern>
        </encoder>
    </appender>

      <!-- API 로그 -->
	  <appender name="API" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/API.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/API_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>100</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>#%X{APIResult}#%6X{APIElapseTime}#%X{APIStartTime}#%20X{ReqeudtID}#%15X{UserOID}#%15X{UserID}#%15X{ClientIP}#%X{APIClassName}#%X{APIName}%n%X{APIParam}%n%X{APIReturn}%n</pattern>
        </encoder>
    </appender>


	 <!--  Web 로그 -->
	 <appender name="WEB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/WEB.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/WEB_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>100</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>#%X{WEBResult}#%6X{WEBElapseTime}#%X{WEBStartTime}#%20X{ReqeudtID}#%15X{UserOID}#%15X{UserID}#%15X{ClientIP}#%X{WEBClassName}#%X{WEBName}%n%X{WEBParam}%n%X{WEBReturn}%n</pattern>
        </encoder>
    </appender>


	  <!--  Error 로그 -->
	 <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/ERROR.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/ERROR_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>100</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>#%X{APIResult}#%6X{APIElapseTime}#%X{APIStartTime}#%20X{ReqeudtID}#%15X{UserOID}#%15X{UserID}#%15X{ClientIP}#%X{APIClassName}#%X{APIName}%n%X{APIParam}%n%X{APIReturn}%n</pattern>
        </encoder>
    </appender>

	 <!--  Schedule 로그 -->
	 <appender name="Schedule" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/Schedule.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/Schedule_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>100</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-4relative [%thread] %-5level %logger[%method:%line] - %msg%n</pattern>
        </encoder>
    </appender>


	 <!--  SendSMS 로그 -->
	<!--  <appender name="SendSMS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/SendSMS.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/SendSMS_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>100</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-4relative [%thread] %-5level %logger[%method:%line] - %msg%n</pattern>
        </encoder>
    </appender> -->


     <!--  SendEmail 로그 -->
	 <appender name="SendEmail" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/SendEmail.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/SendEmail_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>100</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-4relative [%thread] %-5level %logger[%method:%line] - %msg%n</pattern>
        </encoder>
    </appender>


     <!--  API-STDOUT  -->
    <appender name="API-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>#%X{APIResult}#%6X{APIElapseTime}#%X{APIStartTime}#%thread#%-10X{UserID} #%15X{ClientIP}#%X{APIClassName}#%X{APIName}%n%X{APIParam}%n%X{APIReturn}%n</pattern>
        </encoder>
    </appender>


    <!--  STDOUT  -->
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>#%X{SQLResult}#%6X{SQLElapseTime}#%X{SQLStartTime}#%thread#%-10X{UserID} #%15X{ClientIP}#%X{SQLClassName}#%X{SQLName}%n%X{SQLQuery}%n%X{SQLParam}%n%X{SQLReturn}%n</pattern> -->
            <pattern>%d %-4relative [%thread] %-5level %logger[%method:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--  SQL-STDOUT  -->
    <appender name="SQL-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>#%X{SQLResult}#%6X{SQLElapseTime}#%X{SQLStartTime}#%20X{ReqeudtID}#%15X{UserOID}#%15X{UserID}#%15X{ClientIP}#%X{SQLClassName}#%X{SQLName}%n%X{SQLQuery}%n%X{SQLParam}%n%X{SQLReturn}%n</pattern>
        </encoder>
    </appender>


	<!--  WEB-STDOUT  -->
    <appender name="WEB-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>#%X{WEBResult}#%6X{WEBElapseTime}#%X{WEBStartTime}#%20X{ReqeudtID}#%15X{UserOID}#%15X{UserID}#%15X{ClientIP}#%X{WEBClassName}#%X{WEBName}%n%X{WEBParam}%n%X{WEBReturn}%n</pattern>
        </encoder>
    </appender>


	 <!-- Sql 맵핑된 데이터를 바로 보여주기 위해서. -->
<!--	<logger name="sqlonly" additivity="false">-->
<!--		  <level value="INFO" />-->
<!--		  &lt;!&ndash; <appender-ref ref="STDOUT" /> &ndash;&gt;-->
<!--	 </logger>-->

<!--	 <logger name="jdbc.sqltiming" additivity="false">-->
<!--	  	<level value="INFO" />-->
<!--	  		<appender-ref ref="SQL" />-->
<!--			&lt;!&ndash; <appender-ref ref="STDOUT" /> &ndash;&gt;-->
<!--	 </logger>-->

<!--	 <logger name="jdbc.audit" level="OFF"/>-->
<!--	 <logger name="jdbc.connection" level="OFF"/>-->


<!--	 <logger name="jdbc.resultsettable" additivity="false">-->
<!--	  	<level value="DEBUG" />-->
<!--		&lt;!&ndash; <appender-ref ref="STDOUT" /> &ndash;&gt;-->
<!--	</logger>-->
    <!--  SQL -->
    <logger name="SQL" level="DEBUG" additivity="false">
        <appender-ref ref="SQL" />
        <appender-ref ref="SQL-STDOUT" />
    </logger>

    <!--  Spring -->
    <logger name="org.springframework" level="INFO"></logger>


	<!-- ServiceAPI -->
    <logger name="ServiceAPI" level="DEBUG" additivity="false">
        <appender-ref ref="ServiceAPI" />
    </logger>

    <!-- BusinessAPI -->
    <logger name="BusinessAPI" level="DEBUG" additivity="false">
        <appender-ref ref="BusinessAPI" />
    </logger>


    <!-- API -->
    <logger name="API" level="DEBUG" additivity="false">
        <appender-ref ref="API" />
    </logger>


    <!--  WEB -->
    <logger name="WEB" level="DEBUG" additivity="false">
        <appender-ref ref="WEB" />
        <appender-ref ref="WEB-STDOUT" />
    </logger>


    <!--  ERROR -->
    <logger name="ERROR" level="ERROR" additivity="false">
        <appender-ref ref="ERROR" />
        <appender-ref ref="STDOUT" />
    </logger>

    <!--  Schedule -->
    <logger name="Schedule" level="DEBUG" additivity="false">
        <appender-ref ref="Schedule" />
    </logger>


	<!--  SendEmail -->
    <logger name="com.remarkablesoft.api.mail" level="DEBUG" additivity="false">
        <appender-ref ref="SendEmail" />
    </logger>


</included>